# Ignore contents of data directories, but keep the directory itself
/src/datas/*
!/src/datas/.gitkeep

# Ignore timestamped fix directories: MMDD_HHMMSS_fix
**/[0-1][0-9][0-3][0-9]_[0-2][0-9][0-5][0-9][0-5][0-9]_fix/
